header,aside,article,footer,main{
    border: 1px solid black;
}
img{
    width: 100px;
}
article{
    background-color: rgb(107, 185, 227);
    height:200px ;
    width: 100%;
}
#csonakKep{
    width: 200px;

}
main{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    justify-content:space-between;
    align-items: stretch;
    align-content: stretch;
}
aside ,article{


    padding: 5px;
    flex: 0 0 calc(32% - 10px );/*a grap-ot vonom ki*/
    align-self: flex-start;
}
footer{
    width: 100%;
}
footer p,h1{
    text-align: center;


}
footer p{
    background-color: rgb(107, 185, 227);;
}